<!DOCTYPE HTML>
<html>
<head>
  <title>Attraction Finder</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<header>
  <nav class="main-nav">
  </nav>
</header>
<section id="main-content">
  <h1>Your options</h1>
  <br>
  <p>Date: {{ date }} &nbsp;&nbsp; Time: {{time}} &nbsp;&nbsp; State: {{state}}</p>

  <form action="/query_atractions" method="POST">
    <div class="one-third">
      <select class="fit-container" id="city-selector" name="city-selector" style="width: 100%;">
        <option value="">Select the City</option>
        {% for i in listCities %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="two-third">
      <input type="submit" />
    </div>
  </form>

  <h1>{{city}}</h1>
  <p>City climate {{climate}}</p>
  
  <div id="application" class="columns features">
    <div class="one-third first">
      <h3>Suitable Atractions</h3>
        <div class="dynamic-list-div">
            <ul id="atractions-list" class="dynamic-content-list">
                {% for i in suitableAtractions %}
                  <li class="selectable-item">
                    <p>{{ i.nombre }}</p>
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="two-third">
      <h3>Details</h3>
      <div class="dynamic-list-div">
          <ul id="detail-list">
          </ul>
      </div>
    </div>
  </div>
</section>
</body>
</html>