<!DOCTYPE HTML>
<html>
<head>
  <title>Attraction Finder</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
  <nav class="main-nav">
    <ul>
      
    </ul>
  </nav>
</header>
<section id="main-content">
  <h1>Your options</h1>
  <br>
  <p>Date: {{ date }}</p>
  <p>Time: {{ time }}</p>
  <p>State: {{ state }}</p>
  <br>

  <form action="/query_atractions" method="POST">
    <select id="city-selector" class="selector" name="city-selector">
      <option value="">Select the City</option>
      {% for i in listCities %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
    <input type="submit" class="selector" />
  </form>

  <h1>Results from query (influx)</h1>
  <br>
  {% for i in climate %}
    <p>City climate {{i}}</p>
  {% endfor %}

  <div id="application" class="columns features">
    <div class="one-third first">
      <h3>Suitable Atractions</h3>
        <div class="dynamic-list-div">
            <ul id="atractions-list" class="dynamic-content-list">
                {% for i in result %}
                  <li><a>{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="two-third">
      <h3>Details</h3>
      <div class="dynamic-list-div">
          <ul>
              {% for i in result %}
                <li><a>{{ i }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="copyright"><small>Copyright. All Rights Reserved | by <a target="_blank" rel="nofollow" href="http://www.iamsupview.be">Supview</a>.</small></div>
</footer>
</body>
</html>