<!DOCTYPE HTML>
<html>
<head>
  <title>Attraction Finder</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script>
    function restrictDate()
    {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();

      if (dd < 10) {
        dd = '0' + dd
      }

      if (mm < 10) {
        mm = '0' + mm
      }

      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById('date-selector').setAttribute("min", today);
    }

    function setup()
    {
      restrictDate()
    }
  </script>
</head>
<body onload="setup()">
<header>
  <nav class="main-nav">
    <ul>
      <li>
        <ul>
          <li><a href="index.html" class="active">about</a></li>
          <li><a href="projets.html">works</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
<section id="video" class="home">
  <h1>WHERE TO GO NOW</h1>
  <h2>Based on Climate</h2>
</section>
<section id="main-content">
  
  
  <div class="text-intro">
    <h2>Find an Atraction</h2>
    <form action="/query_atractions" method="POST">
      <input type="date" id="date-selector" class="selector" name="date-selector">
      <input type="time" id="time-selector" class="selector" name="time-selector">
      <select id="state-selector" class="selector" name="state-selector">
        <option value="">Select the State</option>
        {% for i in states %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <select id="city-selector" class="selector" name="city-selector">
        <option value="">Select the City</option>
        {% for i in cities %}
          <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <input type="submit" class="selector" />
    </form>
  </div>

  <h1>{{ hola }}</h1>


  <div id="application" class="columns features">
    <div class="one-third first">
      <h3>Suitable Atractions</h3>
        <div class="dynamic-list-div">
            <ul id="atractions-list" class="dynamic-content-list">
                {% for i in result %}
                  <li><a>{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="two-third">
      <h3>Details</h3>
      <div class="dynamic-list-div">
          <ul>
              {% for i in result %}
                <li><a>{{ i }}</a></li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="copyright"><small>Copyright. All Rights Reserved | by <a target="_blank" rel="nofollow" href="http://www.iamsupview.be">Supview</a>.</small></div>
</footer>
</body>
</html>