<!DOCTYPE HTML>
<html>
<head>
  <title>Attraction Finder</title>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script>
    function restrictDate()
    {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();

      if (dd < 10) {
        dd = '0' + dd
      }

      if (mm < 10) {
        mm = '0' + mm
      }

      today = yyyy + '-' + mm + '-' + dd;
      document.getElementById('date-selector').setAttribute("min", today);
    }

    function setup()
    {
      restrictDate()
    }
  </script>
</head>
<body onload="setup()">
<header>
  <nav class="main-nav">
  </nav>
</header>
<section id="video" class="home">
  <h1>WHERE TO GO NOW</h1>
  <h2>Based on Climate</h2>
</section>
<section id="main-content">
  
  
  <div class="text-intro">
    <h2>Find an Atraction</h2>
    <form action="/city_select" method="POST">
      <div>
        <div class="one-third">
            <input type="date" id="date-selector" class="selector" name="date-selector">
        </div>
        <div class="one-third">
            <input type="time" id="time-selector" class="selector" name="time-selector">
        </div>
        <div class="one-third">
            <select id="state-selector" class="selector" name="state-selector">
              <option value="">Select the State</option>
              {% for i in listStates %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <input type="submit" class="selector" />
    </form>
  </div>
</section>
</body>
</html>